.wraper{
    width: 1250px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.book{
    width: 500px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.button{
    width: 300px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}